:root {
    --primary-blue: #a9cef4;
    --secondary-blue: #7ea0b7;
    --tertiary-blue: lightblue; 
    --primary-grey: #36494e;
    --secondary-grey: #597081;
    --primary-text: #313639;
}

body {
    margin: 0;
    background-color: var(--primary-blue);
}

.header {
    font-size: 40px;
    text-align: center;
    color: var(--primary-text);
    background-color: var(--secondary-grey);
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.heading {
    display: inline-block;
    background-color: var(--secondary-grey);
    border-radius: 10px;
    padding: 5px 5px;
}

.heading:hover {
    background-color: var(--secondary-blue);
}

nav {
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 15px;
}

a {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    font-size: 20px;
    border-style: solid;
    border-color: #313639;
    justify-content: center;
    background-color: var(--secondary-blue);
    display: inline-block;
}

a:hover {
    background-color: var(--tertiary-blue);
}

a:active {
    background-color: white;
}

.container {
    display: flex;
}

main {
    flex: 1;
    padding: 20px;
}

.row {
    display: flex;
    background-color: var(--secondary-blue);
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
}

.row_item {
    border-color: #313639;
    padding: 60px;
    margin: 15px;
    position: relative;
}

.row_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}


.row_item:hover {
    transform: scale(1.1);
}

.row_item img:active {
    color: var(--tertiary-blue);
}

.footer {
    text-align: center;
    font-size: 15px;
    padding: 5px;
    color: var(--primary-text);
    background-color: var(--secondary-grey);
}


@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  

.spin-animation {
    animation: spin 1s ease-in-out;
  }
